name: Sync master -> amvera/master

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  sync:
    if: github.event.pull_request.merged == true   
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Configure Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      - name: Add amvera remote (with token)
        env:
          AMVERA_TOKEN: ${{ secrets.AMVERA_TOKEN }}
        run: |
          git remote add amvera https://x-access-token:${AMVERA_TOKEN}@git.msk0.amvera.ru/krutoisashka/hseflowweb
          git fetch amvera

      - name: Push master -> amvera/master
        env:
          AMVERA_TOKEN: ${{ secrets.AMVERA_TOKEN }}
        run: |
          git checkout master
          git push amvera master:master --force-with-lease
